# Visualize the Azan around the world

The main steps of the project is as follows :
* Read the Countries who has at least 20% of Muslim population
* Calculate the time of the 5 prayer calls for each of these countries
* Visualize the time of the Azan using the platform Kepler.gl
** Link to Kepler : https://kepler.gl/
** Upload the CSV file called "countries_with_prayer_times.csv" to the platform
** Apply a filter on the right panel and choose the call prayer you want to visualize
** A time inteval will pop, change your interval and click on Play

Importing modules and packages

In [238]:
import praytimes as pt
import pandas as pd
import matplotlib as mpl
from datetime import  date

Reading the Religious composition of each country and retieving those who have at least 20% of Muslim population

In [239]:
# Reading the CSV of the religious composition
df = pd.read_csv("CSV/Religious_Composition_by_Country_2010-2050.csv")

# Getting only the data in 2020
df_2020 = df[df["Year"] == 2020]
df_2020

,row_number,level,Nation_fk,Year,Region,Country,Christians,Muslims,Unaffiliated,Hindus,Buddhists,Folk Religions,Other Religions,Jews,All Religions
241,242,3,10000,2020,World,All Countries,"2,382,750,000","1,907,110,000","1,193,750,000","1,161,440,000","506,990,000","429,640,000","60,990,000","14,660,000","7,657,330,000"
242,243,2,1001,2020,North America,All Countries,"277,270,000","4,890,000","71,270,000","3,120,000","4,540,000","1,300,000","3,200,000","6,120,000","371,700,000"
243,244,2,1002,2020,Latin America-Caribbean,All Countries,"585,850,000","890,000","52,430,000","690,000","440,000","11,540,000","1,070,000","480,000","653,390,000"
244,245,2,1003,2020,Europe,All Countries,"534,970,000","50,470,000","148,410,000","1,710,000","1,670,000","1,050,000","970,000","1,370,000","740,600,000"
245,246,2,1004,2020,Middle East-North Africa,All Countries,"14,600,000","381,140,000","2,480,000","2,350,000","760,000","1,350,000","250,000","6,380,000","409,310,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,478,1,232,2020,Sub-Saharan Africa,Zimbabwe,"12,720,000","140,000","1,110,000","<10,000","<10,000","580,000","40,000","10,000","14,610,000"
478,479,1,237,2020,Sub-Saharan Africa,South Sudan,"7,530,000","770,000","60,000","<10,000","<10,000","4,090,000","<10,000","<10,000","12,450,000"
479,480,1,238,2020,Latin America-Caribbean,Curacao,"160,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","170,000"
480,481,1,239,2020,Latin America-Caribbean,Sint Maarten,"50,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","50,000"
481,482,1,240,2020,Latin America-Caribbean,Caribbean Netherlands,"20,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","20,000"

Cleaning the dataset -- Getting the countries that has more than 10000 muslims

In [240]:
# Getting the countries with less than 10000 muslims
least_muslims = df_2020[(df_2020["Muslims"] == '         <10,000')]
least_muslims

,row_number,level,Nation_fk,Year,Region,Country,Christians,Muslims,Unaffiliated,Hindus,Buddhists,Folk Religions,Other Religions,Jews,All Religions
251,252,1,4,2020,Asia-Pacific,American Samoa,"60,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","60,000"
252,253,1,5,2020,Europe,Andorra,"70,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","80,000"
254,255,1,7,2020,Latin America-Caribbean,Anguilla,"10,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","20,000"
255,256,1,8,2020,Latin America-Caribbean,Antigua and Barbuda,"90,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","100,000"
257,258,1,10,2020,Asia-Pacific,Armenia,"3,180,000","<10,000","40,000","<10,000","<10,000","<10,000","<10,000","<10,000","3,230,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,471,1,225,2020,Asia-Pacific,Vanuatu,"280,000","<10,000","<10,000","<10,000","<10,000","10,000","<10,000","<10,000","300,000"
473,474,1,228,2020,Asia-Pacific,Wallis and Futuna,"10,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","10,000"
479,480,1,238,2020,Latin America-Caribbean,Curacao,"160,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","170,000"
480,481,1,239,2020,Latin America-Caribbean,Sint Maarten,"50,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","50,000"
481,482,1,240,2020,Latin America-Caribbean,Caribbean Netherlands,"20,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","<10,000","20,000"

In [241]:
# Poping these countries from our dataset

muslim_countries = df_2020.drop(df_2020[(df_2020["Muslims"] == '         <10,000') | (df_2020["Country"] == " All Countries")].index,axis=0)
filtered_muslims_countries = muslim_countries[["Country","Muslims"]]
filtered_muslims_countries

            Country           Muslims
248     Afghanistan        40,610,000
249         Albania         2,640,000
250         Algeria        39,430,000
253          Angola            50,000
256       Argentina           410,000
..              ...               ...
474  Western Sahara           610,000
475           Yemen        32,060,000
476          Zambia           110,000
477        Zimbabwe           140,000
478     South Sudan           770,000

[146 rows x 2 columns]

Exporting this dataframe to csv

In [242]:
filtered_muslims_countries.to_csv("Muslims_countries.csv",index=False)

Now, we need to get the location of each of these countries using the geonames dataset

In [243]:
location = pd.read_csv("CSV/geonames.csv")

Now, we merge these 2 datasets into 1 called muslims_location and export It to a CSV

In [244]:
muslim_location = location.merge(filtered_muslims_countries)
muslim_location.to_csv("Muslims_countries.csv",index=False)

Calculating the time of prayer call for each of these countries

In [265]:
this_day = date.today()
PT = pt.PrayTimes("Karachi")

for i in range(len(muslim_location)):
    position = muslim_location["Latitude"][i],muslim_location["Longitude"][i]
    times = PT.getTimes((this_day.year, this_day.month, this_day.day), position, +1)
    prayers = ["fajr","dhuhr","asr","maghrib",'isha']
    for prayer in prayers:
        #print(muslim_location["Country"][i], "has",prayer,"at",times[prayer])
        if(prayer == "fajr"):
            muslim_location["Fajr"][i] = times[prayer]
        elif(prayer == "dhuhr"):
            muslim_location["Dhuhr"][i] = times[prayer]
        elif(prayer == "asr"):
            muslim_location["Asr"][i] = times[prayer]
        elif(prayer == "maghrib"):
            muslim_location["Maghrib"][i] = times[prayer]
        elif(prayer == "isha"):
            muslim_location["Isha"][i] = times[prayer]
muslim_location.sort_values(by="Fajr")
muslim_location.to_csv("countries_with_prayer_times.csv")

/tmp/ipykernel_787153/3738244464.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  muslim_location["Fajr"][i] = times[prayer]
/tmp/ipykernel_787153/3738244464.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  muslim_location["Dhuhr"][i] = times[prayer]
/tmp/ipykernel_787153/3738244464.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  muslim_location["Asr"][i] = times[prayer]
/tmp/ipykernel_787153/3738244464.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  muslim_location["Maghrib"][i] = times[prayer]
/tmp/ipykernel_787153/3738244464.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  muslim_location["Isha"][i] = times[prayer]